$primary-color: rgb(255, 254, 254);
$b: black;
$font: "Google Sans", Roboto, arial, sans-serif;

body {
  color: $primary-color;
  background-color: $b;
  font-family: $font;
}

.test{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.surlignage{
  text-decoration: none;
}

.test h1{
  color: #D20A32;
}

//* barre de recherche 
#searchInput{
background-color: $b;
border: solid rgb(255, 255, 255);
border-radius: 30px;
padding: 10px;
}

#searchForm input::placeholder{
  color: white;
}

#searchForm input:focus{
  outline: none;
  color: white;
}

//* image //
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardGame {
  flex-basis: calc(33.33% - 30px);
  margin-bottom: 20px;
}

.cardGame img {
  width: 100%;
  height: auto;
}

// page details 

.game-image {
  width: 100%;
}


.titre_vote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note_and_vote {
  display: flex;
  align-items: center;
  color: #D20A32;
  margin-right: 40px;
}

.aligne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aligne2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.red{
  color: #D20A32;
}

.trailer {
  width: 100%;
}

.trailer iframe {
  width: 100%;
}